$color-primary: #f1cdb3;
$color-primary-light: #fddcc4;
$color-text: #4C4C4C;
$color-title: #545454;
$color-white: #ffffff;
$color-link: #cdcdcd;
$color-link-active: #fafafa;
$color-section-title: #545454;
$color-text-btn: #292929;
$color-gray: #b2b2b2;
$color-section-bg: #f6f6f6;
$color-main-page-bg: url(../../../assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
$color-footer-bg: url(../../../assets/images/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;

$sm: 320px;
$md: 768px;
$xl: 1280px;

$font-georgia: "Georgia", "Arial", sans-serif;
$font-arial: "Arial", sans-serif;
